<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!--配置 -->
    <settings>
        <setting name="cacheEnabled" value="true" /> <!-- 缓存是否开启 -->
        <setting name="lazyLoadingEnabled" value="true" /><!-- 延迟加载开关 -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />  <!-- 使用列标签代替列名-->
        <setting name="useGeneratedKeys" value="false" /> <!-- 是否自动生成主键 -->
        <setting name="autoMappingBehavior" value="PARTIAL" />  <!-- 如何自动映射结果集 -->
        <setting name="defaultExecutorType" value="SIMPLE" /> <!-- 默认的执行器 -->
        <setting name="defaultStatementTimeout" value="25" /> <!-- 超时时间，单位：秒 -->
        <setting name="safeRowBoundsEnabled" value="false" /> <!-- 是否允许在嵌套语句中使用分页 -->
        <setting name="mapUnderscoreToCamelCase" value="false" /><!-- 是否开启自动驼峰命名规则 -->
        <setting name="localCacheScope" value="SESSION" /> <!-- 本地缓存机制 -->
        <setting name="jdbcTypeForNull" value="OTHER" /> <!-- 指定JDBC类型 -->
        <!-- 指定对象的方法触发延迟加载 -->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
    </settings>
</configuration>
